<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Unit testing of Cache</title>
        <link rel="stylesheet" href="http://localhost/test/assets/qunit.css">
        <script type="text/javascript" src="http://localhost/test/assets/qunit.js"></script>
        <script type="text/javascript" src="http://localhost/test/assets/jquery.min.js"></script>
        <script type="text/javascript" src="http://localhost/test/assets/suite.js"></script>
    </head>
    <body>
        <div id="qunit"></div>
        <div id="qunit-fixture"></div>

        <script type="text/javascript" src="./units/setAPIs.js"></script>
        <script type="text/javascript" src="./units/recordAPIs.js"></script>
        <script type="text/javascript" src="./units/existsAPIs.js"></script>
        <script type="text/javascript" src="./units/getAPIs.js"></script>
        <script type="text/javascript" src="./units/getViewAPIS.js"></script>
        <script type="text/javascript" src="http://localhost/test/assets/components/background/cache.bundle.js"></script>
    </body>
</html>